@page "/manage-authors"

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h3 style="margin:2px"> Manage Authors</h3>
        <button class="btn btn-primary" style="margin-top:6px" @onclick="OpenAuthorForm">Add another author</button>

    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if(loading)
            {
                <tr>
                    <td colspan="4">
                        Loading authors...
                    </td>
                </tr>
            }
            else if(!loading && authors is null || authors.Count() == 0)
            {
                <tr>
                    <td class="text-center" colspan="4">
                        No authors found.
                    </td>
                </tr>
            }
            else
            {
                int sno = 1;
                foreach(var author in authors)
                {
                    <tr>
                        <td>@(sno++)</td>
                        <td>@author.FirstName</td>
                        <td>@author.LastName</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" @onclick="() => EditAuthor(author)">Edit</button>
                        </td>
                    </tr>
                }
                
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="authorModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <SaveAuthorForm OnSaveAuthor="OnSaveAuthor"
                            OnCloseForm="CloseAuthorForm"
                            AuthorDTO="editAuthor"
                            OnDeleteAuthor="OnDeleteAuthor" />
        </div>
    </div>
</div>
<AlertModal @ref="alertModal" />
