@inherits LayoutComponentBase

<div class="page d-flex flex-column">
    <div class="container-fluid bg-purple">
        <TopNavBar/>
    </div>
    <div class ="container-fluid flex-grow-1">
        @Body
    </div>
</div>
