<div class="container">
    <header class="d-flex justify-content-center justify-content-md-between flex-wrap">
        <NavLink href="/" class="text-light text-decoration-none fs-4 fw-bold">Blog Engine</NavLink>
        <ul class="nav">
            <li>
                <NavLink href="/" class="link-light nav-link">Home</NavLink>
            </li>
            <li>
                <NavLink href="/manage-authors" class="link-light nav-link">Manage Authors</NavLink>
            </li>
            <li>
                <NavLink href="/manage-blogs" class="link-light nav-link">Manage Blogs</NavLink>
            </li>
        </ul>
    </header>
</div>